@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  width: 7920px;
  height: 1250px;
}

.imperators {
  display: flex;
}

.imp1 {
  position: relative;
  width: 691px;
  height: 1250px;
  background-image: url("/src/assets/img/Петр1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .description {
    .descImage {
      cursor: pointer;
      position: absolute;
      top: 40%;
      left: 1%;
      width: 200px;
      &:hover {
        transform: scale(1.02);
      }
      height: 282px;
      transition: all 250ms ease-in-out;
    }

    position: absolute;
    width: 691px;
    height: 600px;
  }
  .historyPetr {
    position: absolute;
    width: 691px;
    height: 650px;
    bottom: 0%;
    .imgDecree {
      overflow: hidden;
      border-radius: 15px;
      top: 10%;
      cursor: pointer;
      position: absolute;
      left: 3%;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
        transition: transform 250ms ease-in-out;
      }
    }
    .imgBruce {
      overflow: hidden;
      border-radius: 15px;
      top: 10%;
      left: 33%;
      position: absolute;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgGun {
      overflow: hidden;
      border-radius: 15px;
      top: 10%;
      cursor: pointer;
      position: absolute;
      right: 11%;
      transition: all 250ms ease-in-out;
      overflow: hidden;
      width: 230px;
      height: 254px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgTown {
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 3%;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgIng {
      width: 170px;
      height: 280px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      bottom: 5%;
      right: 11%;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgMinih {
      z-index: 1;
      width: 140px;
      height: 261px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      top: 10%;
      right: -93px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgSveyskiy {
      z-index: 1;
      width: 140px;
      height: 280px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      bottom: 5%;
      right: -93px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp2 {
  position: relative;
  width: 613px;
  height: 1250px;
  background-image: url("/src/assets/img/имп2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .description {
    position: absolute;
    height: 600px;
    width: 613px;
    .descImage {
      cursor: pointer;
      position: absolute;
      top: 58%;
      left: 1%;

      width: 230px;
      &:hover {
        transform: scale(1.02);
      }
      height: 170px;
      transition: all 250ms ease-in-out;
    }
  }
  .historyEkaterinaI {
    position: absolute;
    width: 613px;
    height: 650px;
    bottom: 0%;
    .imgMap {
      width: 420px;
      height: 261px;
      overflow: hidden;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      top: 10%;
      left: 20%;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgText {
      width: 235px;
      height: 280px;
      overflow: hidden;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      bottom: 5%;
      left: 23%;
      &:hover {
        transform: scale(1.03);
      }
    }
    .blockLomonosov {
      width: 220px;
      height: 281px;
      bottom: 3%;
      right: -6%;
      position: absolute;
      border-radius: 15px;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
      .imgLomonosov {
        width: 220px;
        height: 281px;
        overflow: hidden;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        position: absolute;
        border-radius: 15px;
        bottom: 5%;
        right: -5%;
        &:hover {
          transform: scale(1.03);
        }
      }
      .imgTextLomonosov {
        cursor: pointer;
        width: 220px;
        height: 95px;
        position: absolute;
        bottom: 5%;
        right: -5%;
        opacity: 0.8;
        border-radius: 0 0 15px 15px;
      }
    }
    .imgDescMap {
      width: 420px;
      height: 261px;
      overflow: hidden;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      top: 10%;
      right: -63%;
      opacity: 0.9;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp3 {
  width: 945px;
  height: 1250px;
  background-image: url("/src/assets/img/имп3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  .description {
    position: absolute;
    width: 945px;
    height: 600px;
    .descImage {
      width: 200px;
      height: 260px;
      position: absolute;
      top: 43%;
      left: 1%;
      &:hover {
        transform: scale(1.02);
      }
      cursor: pointer;
      transition: all 250ms ease-in-out;
    }
  }
  .historyElizabeth {
    position: absolute;
    width: 945px;
    height: 650px;
    bottom: 0%;
  }
}
.imp4 {
  width: 1330px;
  height: 1250px;
  background-image: url("/src/assets/img/имп4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp5 {
  width: 380px;
  height: 1250px;
  background-image: url("/src/assets/img/имп5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp6 {
  width: 846px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp7 {
  width: 1015px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp8 {
  width: 880px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp9 {
  width: 440px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp10 {
  width: 778px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
