@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  width: 7920px;
  height: 1250px;
}

.imperators {
  display: flex;
}

.imp1 {
  border: 2px solid #e4c03e;
  position: relative;
  width: 691px;
  height: 1250px;
  background-image: url("/src/assets/img/Петр1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .description {
    .descImage {
      cursor: pointer;
      position: absolute;
      top: 40%;
      left: 1%;
      width: 200px;
      &:hover {
        transform: scale(1.02);
      }
      height: 282px;
      transition: all 250ms ease-in-out;
    }

    position: absolute;
    width: 691px;
    height: 600px;
  }
  .historyPetr {
    position: absolute;
    width: 691px;
    height: 650px;
    bottom: 0%;
    .imgDecree {
      overflow: hidden;
      border-radius: 15px;
      top: 10%;
      cursor: pointer;
      position: absolute;
      left: 3%;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
        transition: transform 250ms ease-in-out;
      }
    }
    .imgBruce {
      overflow: hidden;
      border-radius: 15px;
      top: 10%;
      left: 33%;
      position: absolute;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgGun {
      overflow: hidden;
      border-radius: 15px;
      top: 10%;
      cursor: pointer;
      position: absolute;
      right: 11%;
      transition: all 250ms ease-in-out;
      overflow: hidden;
      width: 230px;
      height: 254px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgTown {
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 3%;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgIng {
      width: 170px;
      height: 280px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      bottom: 5%;
      right: 11%;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgMinih {
      z-index: 1;
      width: 140px;
      height: 261px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      top: 10%;
      right: -93px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgSveyskiy {
      z-index: 1;
      width: 140px;
      height: 280px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      bottom: 5%;
      right: -93px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp2 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  position: relative;
  width: 613px;
  height: 1250px;
  background-image: url("/src/assets/img/имп2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .description {
    position: absolute;
    height: 600px;
    width: 613px;
    .descImage {
      cursor: pointer;
      position: absolute;
      top: 58%;
      left: 1%;

      width: 230px;
      &:hover {
        transform: scale(1.02);
      }
      height: 170px;
      transition: all 250ms ease-in-out;
    }
  }
  .historyEkaterinaI {
    position: absolute;
    width: 613px;
    height: 650px;
    bottom: 0%;
    .imgMap {
      width: 420px;
      height: 261px;
      overflow: hidden;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      top: 10%;
      left: 20%;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgText {
      width: 235px;
      height: 280px;
      overflow: hidden;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      bottom: 5%;
      left: 23%;
      &:hover {
        transform: scale(1.03);
      }
    }
    .blockLomonosov {
      width: 220px;
      height: 281px;
      bottom: 3%;
      right: -6%;
      position: absolute;
      border-radius: 15px;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
      .imgLomonosov {
        width: 220px;
        height: 281px;
        overflow: hidden;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        position: absolute;
        border-radius: 15px;
        bottom: 5%;
        right: -5%;
        &:hover {
          transform: scale(1.03);
        }
      }
      .imgTextLomonosov {
        cursor: pointer;
        width: 220px;
        height: 95px;
        position: absolute;
        bottom: 5%;
        right: -5%;
        opacity: 0.8;
        border-radius: 0 0 15px 15px;
      }
    }
    .imgDescMap {
      z-index: 1;
      width: 420px;
      height: 261px;
      overflow: hidden;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      top: 10%;
      right: -63%;
      opacity: 0.8;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp3 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  width: 945px;
  height: 1250px;
  background-image: url("/src/assets/img/имп3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  .description {
    position: absolute;
    width: 945px;
    height: 600px;
    .descImage {
      width: 190px;
      height: 260px;
      position: absolute;
      border-radius: 15px;
      top: 43%;
      left: 1%;
      &:hover {
        transform: scale(1.02);
      }
      cursor: pointer;
      transition: all 250ms ease-in-out;
    }
  }
  .historyElizabeth {
    position: absolute;
    width: 945px;
    height: 650px;
    bottom: 0%;
    .imgMordvinov {
      width: 200px;
      height: 262px;
      top: 10%;
      left: 44%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgKutuzov {
      width: 200px;
      height: 281px;
      bottom: 5%;
      left: 39%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgMichaelDesc {
      width: 200px;
      height: 261px;
      top: 10%;
      left: 70%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgShuvalovDesc {
      width: 200px;
      height: 281px;
      bottom: 5%;
      left: 63%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgVilboa {
      z-index: 1;
      width: 200px;
      height: 281px;
      bottom: 5%;
      right: -9%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgSmoking {
      z-index: 1;
      width: 200px;
      height: 261px;
      top: 10%;
      right: -17%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      position: absolute;
      border-radius: 15px;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp4 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  position: relative;
  width: 1330px;
  height: 1250px;
  background-image: url("/src/assets/img/имп4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .description {
    width: 1330px;
    height: 600px;
    position: absolute;
    .descImage1 {
      width: 185px;
      height: 260px;
      position: absolute;
      top: 45%;
      border-radius: 15px;
      left: 1%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .descImage2 {
      width: 185px;
      height: 260px;
      position: absolute;
      top: 45%;
      border-radius: 15px;
      right: 13%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .descImage3 {
      z-index: 1;
      width: 185px;
      height: 260px;
      position: absolute;
      top: 45%;
      border-radius: 15px;
      right: -4%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  .historyEkaterinaII {
    width: 1330px;
    height: 650px;
    bottom: 0%;
    position: absolute;
    .imgMelissino {
      width: 200px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 15%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgDescMelissino {
      width: 200px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 33%;
      opacity: 0.9;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgArakcheev {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 51%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgDescArakcheev {
      width: 200px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      right: 16%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgSmoking {
      z-index: 1;
      width: 200px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      right: -3%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgCadets {
      width: 200px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 10%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgGreece {
      width: 315px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 29%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgZnamya {
      width: 200px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 57%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgPlan {
      z-index: 1;
      width: 400px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      right: -6%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp5 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  position: relative;
  width: 380px;
  height: 1250px;
  background-image: url("/src/assets/img/имп5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .historyPavelI {
    position: absolute;
    width: 380px;
    height: 1250px;
    .imgPlanTown {
      width: 260px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 53%;
      left: 23%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgEkaterinaDesc {
      width: 200px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 2.5%;
      opacity: 0.85;
      left: 38%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp6 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  position: relative;
  width: 846px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .description {
    position: absolute;
    width: 846px;
    height: 600px;
    .imgDesc1 {
      width: 185px;
      height: 260px;
      position: absolute;
      top: 45%;
      border-radius: 15px;
      left: 5%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgDesc2 {
      z-index: 1;
      width: 185px;
      height: 260px;
      position: absolute;
      top: 45%;
      border-radius: 15px;
      right: -11%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  .historyAlexanderI {
    position: absolute;
    width: 846px;
    height: 650px;
    bottom: 0%;
    .imgZubov {
      width: 180px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 3%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgKorpus {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 29%;
      opacity: 0.95;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgVolont {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 55%;
      opacity: 0.95;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgExcercirgaus {
      z-index: 1;
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      right: -4%;
      opacity: 0.95;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgProjectStone {
      width: 400px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 3%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgProjectEkaterinaII {
      width: 190px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 54%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgSmokingAlexI {
      z-index: 1;
      width: 190px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      right: -3%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp7 {
  position: relative;
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  width: 1015px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .description {
    position: absolute;
    width: 1015px;
    height: 600px;
    .descImage {
      z-index: 1;
      width: 185px;
      height: 260px;
      position: absolute;
      top: 45%;
      border-radius: 15px;
      right: -8%;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  .historyNikolayI {
    position: absolute;
    width: 1015px;
    height: 650px;
    bottom: 0%;
    .imgSmokingNikolayI {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 6%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgCadetKorpus {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 28%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgMendeleev {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 50%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgDobrolyubov {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      right: 9%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgChernishevskiy {
      z-index: 1;
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      right: -13%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgGeneralPlan2 {
      width: 410px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 5%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgZnamya1844 {
      width: 200px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      left: 48%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
        border: 1px solid #41403d;
      }
    }
    .imgGeneralPlan1858 {
      z-index: 1;
      width: 400px;
      height: 281px;
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      right: -11%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
        border: 1px solid #ffffff;
      }
    }
  }
}
.imp8 {
  position: relative;
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  width: 880px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .historyAlexanderII {
    width: 880px;
    height: 650px;
    position: absolute;
    bottom: 0%;
    .imgAttestat {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 18%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
    .imgSmokingAlexII {
      width: 190px;
      height: 261px;
      cursor: pointer;
      position: absolute;
      top: 10%;
      left: 43%;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.imp9 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  width: 440px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imp10 {
  border-top: 2px solid #e4c03e;
  border-right: 2px solid #e4c03e;
  border-bottom: 2px solid #e4c03e;
  width: 778px;
  height: 1250px;
  background-image: url("/src/assets/img/Император_ImgID5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
