.wrapper {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: none;
  width: 10000px;
}

.images {
  display: flex;
}

.image1 {
  height: 1250px;
  width: 6000px;
  background: cover;
}

.image2 {
  height: 1250px;
  width: 6000px;
  background: cover;
}

.image3 {
  height: 1250px;
  width: 6000px;
  background: cover;
}

.image4 {
  height: 1250px;
  width: 6000px;
  background: cover;
}

.image5 {
  height: 1250px;
  width: 6000px;
  background: cover;
}
.image6 {
  height: 1250px;
  width: 6000px;
  background: cover;
}
.image7 {
  height: 1250px;
  width: 6000px;
  background: cover;
}
.image8 {
  height: 1250px;
  width: 6000px;
  background: cover;
}
.image9 {
  height: 1250px;
  width: 6000px;
  background: cover;
}
.image10 {
  height: 1250px;
  width: 6000px;
  background: cover;
}
