@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  height: 1250px;
  width: 691px;
  background-image: url("../../assets/img/Петр1.png");
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
