@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  width: 7920px;
  height: 1000px;
  background-image: url("/NewLinear1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
